body {
  overflow: auto;
}

.bloc{
  border-radius:15px;
  background-color:white;
}

#container{
  padding-top:0px;
}

.section::before {
  position: absolute;
  content: '';
  z-index: -1;
  width: 100%;
  height: 55%;
  background-position: 100% 65%;
  background-image: url(./../images/background.jpg);
}

.class-footer{
  font-size:14.5px;
  padding:1px;
  font-weight:400;
  color:rgb(200,200,200);
}

.navbar {
  min-height: 50px;
}

.flag{
  height:75%;
  opacity:65%;
  cursor: pointer;
  margin-top:3px;
}

.flag:hover{
  opacity:100%;
  transition-duration: 300ms;
}

.menu-bar{
  background-color: rgba(20,32,41,0.8);
  /* background-color: rgba(0,0,0,0.9); */
}

@media (max-width: 1199px) {
  .bloc-blanc2{
  margin-top:15px;
  margin-bottom:70px;
  }
  
  .bloc-login{
  margin-bottom:70px;
  }

  .bloc-index{
  margin-bottom:70px;
  }
  
  .slide-text {
  margin-right:-20px;
  }
}
/*
@media (max-width: 1700px) {
  .bloc-formulaire{
  margin-bottom:70px;
  }
}
*/

@media (max-width: 1470px) {
  #divInfo, #divRequire{
  height:340px;
  }
}

.tooltip-inner{
  background-color:rgb(1,13,40);
  color:white;
}

/* Login */
#cforgot, #cforgot:active, #cforgot:visited{
  color : rgb(100,100,100);
  font-size:13px;
}
#clogintitle{
font-size:34px;
}

#lslider{
  color : rgb(100,100,100);
}

.nav-item a, .nav-item a:active, .nav-item a:visited, #bhome, #bhome:active, #bhome:visited, .navbar-brand, .navbar-brand:active, .navbar-brand:visited{
  color:rgb(220,220,220);
}

.nav-item a{
  border-color:rgb(220,220,220);
}

#bhome:hover{
  color:white;
}

.nav-item a:hover{
  color:rgb(50,50,50);
}

/* Ajouter bordure au dropdown */
.bootstrap-select>.dropdown-toggle.bs-placeholder, .input-group .bootstrap-select.form-control .dropdown-toggle{
  border:1px solid rgb(206,212,218);
}
.dropdown-menu {
  font-size: 15px;
}

.bsavechanges{
  background-color:rgb(82,144,205);
  border: 1px solid rgba(82,144,205,.1);
  text-transform: uppercase;
  font-size:13px;
  letter-spacing: 1.5px;
  border-radius: 3px;
}

.modal-content{
  border: 0px;
}

.modal-footer{
  background-color:rgb(246,250,253);
  border:0px;
}

.modal-header{
  border: 0px;
  padding-bottom:5px;
}

.iconModale {
  color: white;
  filter: drop-shadow(5px 5px 1px rgba(0,0,0,.1));
}

.divIconeModale {
  position: absolute;
  top: 10px;
  left: -20px;
  background: radial-gradient(circle at center, rgba(236, 102, 0, .9), rgb(203, 92, 11));
  border-top-left-radius: 3px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  z-index: 2;
  opacity: 98%;
}

#ticket {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 20px solid #7C4204;
  left: -20px;
  top: 48px;
  position: absolute;
}

#m_e h3, #m_t h3, #m_te h3, #m_t-map h3, #m_d_map h3, #m_t_map h3, #tmcourriels, #m_c h4{
  letter-spacing: 1px;
  font-weight: 700;
  letter-spacing: 3px;
  padding-top:13px;
  padding-bottom: 7px;
  padding-left:40px;
  padding-right:40px;
  font-family: 'Hind Guntur', sans-serif;
  font-size:22px;
  color:rgba(0,0,0,.6);
  text-transform:uppercase;
  border-radius:5px;
  /*border: 1px solid rgba(0,0,0,.07);*/
}

.modal-header{
  padding-top:7px;
  background-color:rgb(247,247,247);
}
.modal-body{
  padding-top:0px;
}
#m_v .modal-header{
  background-color:white;
}

/* Popup dans OpenLayers */
.ol-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 80px;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.iconPopup{
  color:rgb(220,220,220);
}

.map{
  height:500px;
  width:100%;
}

#bsignout2{
  border: 1px solid rgba(255,255,255,.2);
  color:rgb(220,220,220);
  font-size:15px;
}
#bsignout2:hover{
  border: 1px solid rgba(255,255,255,.4);
  color:white;
}
.navbar-nav{
  font-size:15px;
}