.bloc{
	border-radius:15px;
	background-color:white;
}

#container{
	padding-top:0px;
}


.section::before {
	position: absolute;
	content: '';
	z-index: -1;
	width: 100%;
	height: 55%;
	background-position: 100% 65%;
	background-image: url(./../images/background.jpg);
}

.class-footer{
	font-size:15px;
	padding:1px;
}

.navbar {
	min-height: 50px;
}

.resizing{
	padding-top:5%;
	padding-right:5%;
	padding-bottom:10%;
}

.flag{
	height:75%;
	opacity:65%;
	cursor: pointer;
	margin-top:3px;
}

.flag:hover{
	opacity:100%;
}

.add2{
	overflow-y:scroll;
	height:470px;
	
}

.second-bloc{
	height:520px;
	padding:3%;
}

.resizebloc{
	height:520px;
}

.interieur{
	height:100%;
	overflow-y:scroll;
}

.menu-bar{
    background-color: rgba(20,32,41,0.8);
    /* background-color: rgba(0,0,0,0.9); */
}


ul.links-list li a, ul.links-list li a:visited, ul.links-list li a:active, .nav-admin a, .nav-admin a:visited, .nav-admin a:active{
	text-decoration:none;
	color: rgb(52,58,54);
	font-size:15px;
}

.nav-admin a.active{
	font-weight:bold;
}

ul.links-list li a:hover{
	text-decoration:underline;
}

.petite-div a, .petite-div a:visited, .petite-div a:active{
	text-decoration:none;
	color: rgb(52,58,54);
}


.petite-div:hover{
	background-color: rgba(1,13,40,.9);
	color: white;
}

.petite-div:hover a{
	color: white;
}

.card{
	border-radius:15px;
}

.card-footer{
	border-top: 0px;
}

.arrow-card:hover{
	background-color: rgba(1,13,40,.9);
	color: white;
}

.spe:hover .spe-header{
	background-color: rgba(1,13,40,.9);
	color: white;
	border-top-right-radius:15px;
	border-top-left-radius:15px;
}

.spe:hover .card-body{
	background-color: rgb(247,247,247);
	border-radius:15px;
}

.spe:hover{
	border-radius:15px;
	border-color: rgba(1,13,40,.9);
}

.arrow-card:hover a, .arrow-card:hover a:visited, .arrow-card:hover a:active{
	color: white;
}

.arrow-card a{
	color: rgb(52,58,54);
}

.arrow-card a:hover{
	text-decoration:none;
}

.info-chargement{
	border: 1px solid;
}

.divCourriels{
	width:370px;
}

.normal-height{
	height: 14rem;
}

#divInfo, #divRequire{
		height:295px;
}

#forgot, #forgot:active, #forgot:visited{
	color : rgb(1,13,40);
	font-size:15px;
}

/* ********* Quelques éléments pour la responsivité ********* */
@media (max-width: 1199px) {
	.bloc-blanc2{
		margin-top:15px;
		margin-bottom:70px;
	}
	
	.bloc-login{
		margin-bottom:70px;
	}

	.bloc-index{
		margin-bottom:70px;
	}
	
	.spe2{
		margin-bottom:25px;
	}
	
	#card1{
		margin-bottom:25px;
	}
	
	#card2{
		margin-bottom:25px;
	}
	
	.slide-text {
  	margin-right:-20px;
	}
	

}

@media (max-width: 630px) {
	.divCourriels{
		width:300px;
	}
}


@media (max-width: 530px) {
	.divCourriels{
		width:250px;
	}
}

@media (max-width: 460px) {
	.divCourriels{
		width:150px;
	}
}

@media (max-width: 1700px) {
	.bloc-formulaire{
		margin-bottom:70px;
	}
	
}

@media (max-width: 1470px) {
	#divInfo, #divRequire{
		height:340px;
	}
}

@media (max-width: 1200px) {
	.normal-height{
		height: 17rem;
	}
}