.bloc{
	border-radius:15px;
	background-color:white;
}

.bloc-blanc{
	margin-top:-23%;
}

.bloc-blanc2{
	margin-top:-23%;
}

@media (max-width: 1199px) {
  .bloc-blanc2{
    margin-top:15px;
  }
}

.section{
	background-image: url(../images/highway-1031149_1920-12.png);
	height: 450px;
	background-size: cover;
	background-position: 50% 60%;
	background-repeat: no-repeat;
}

.class-footer{
	height: 70px;
}

.navbar {
  min-height: 50px;
}

.bloc-formulaire{
	padding:2%;
}

.second-bloc{
	height:500px;
	padding:5%;
}

.interieur{
	height:100%;
	overflow-y:scroll;
}

.bloc-formulaire{
	padding:2%;
}