.bloc{
	border-radius:15px;
	background-color:white;
}

#container{
	padding-top:30px;
}

.section::before {
	position: absolute;
	content: '';
	z-index: -1;
	width: 100%;
	height: 450px;
	background-position: 100% 65%;
	background-image: url(./../images/highway-1031149_1920-12.png);
}

.class-footer{
	height: 60px;
}

.navbar {
	min-height: 50px;
}

.bloc-formulaire{
	padding:2%;
}

.resizing{
	padding-top:5%;
	padding-right:5%;
	padding-bottom:5%;
	
}

.add2{
	overflow-y:scroll;
	height:440px;
	
}

.second-bloc{
	height:520px;
	padding:5%;
}

.interieur{
	height:100%;
	overflow-y:scroll;
}

.menu-bar{
    background-color: rgba(20,32,41,0.8);
    /* background-color: rgba(0,0,0,0.9); */
}


ul.links-list li a, ul.links-list li a:visited, ul.links-list li a:active{
	text-decoration:none;
	color: rgb(52,58,54);
}

ul.links-list li a:hover{
	text-decoration:underline;
}

.petite-div a, .petite-div a:visited, .petite-div a:active{
	text-decoration:none;
	color: rgb(52,58,54);
}


.petite-div:hover{
	background-color: rgba(1,13,40,.9);
	color: white;
}

.petite-div:hover a{
	color: white;
}

.card{
	border-radius:15px;
}

.card-footer{
	border-top: 0px;
}

.arrow-card:hover{
	background-color: rgba(1,13,40,.9);
	color: white;
}

.spe:hover .spe-header{
	background-color: rgba(1,13,40,.9);
	color: white;
	border-top-right-radius:15px;
	border-top-left-radius:15px;
}

.spe:hover .card-body{
	background-color: rgb(247,247,247);
	border-radius:15px;
}

.spe:hover{
	border-radius:15px;
	border-color: rgba(1,13,40,.9);
}

.arrow-card:hover a, .arrow-card:hover a:visited, .arrow-card:hover a:active{
	color: white;
}

.arrow-card a{
	color: rgb(52,58,54);
}

.arrow-card a:hover{
	text-decoration:none;
}

.info-chargement{
	border: 1px solid;
}

.bg-style{
	background-color: rgba(255,255,255,0.8);
}

ul.listec li{
	padding:0;
}

.listec{
	border: 1px solid rgb(247,247,247);
}

.input-group-text{
	height:38.5px;
}

.size1{
	width:45px;
	display: table;
}

.size2{
	width:55px;
	display: table;
}

.divCourriels{
	width:370px;
}

#addcourriel{
	height:38.5px;
}

#inputcourriel{
	width:300px;
}

.cout-style{
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	border-top: 2px solid rgba(1,13,40,.2);
}

#card1, #card2, #card3{
	border-radius:5px;
}




/* Toogle-button */
.button-cover, .knobs, .layer{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button-t{
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    margin: -20px auto 0 auto;
    overflow: hidden;
}

.button.r, .button.r .layer{
    border-radius: 100px;
}

.checkbox{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs{
    z-index: 2;
}

.layer{
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
}


/* Button 6 */
#button-6{
    overflow: visible;
}

#button-6 .knobs:before{
    content: 'm';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    line-height: 0.5;
    padding: 9px 4px;
    background-color: #235599;
    border-radius: 50%;
}

#button-6 .layer, #button-6 .knobs, #button-6 .knobs:before{
    transform: rotateZ(0);
    transition: 0.4s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-6 .checkbox:checked + .knobs{
    transform: rotateZ(-180deg);
}

#button-6 .checkbox:checked + .knobs:before{
    content: 'pi';
    background-color: #BB2211;
    transform: rotateZ(180deg);
}

#button-6 .checkbox:checked ~ .layer{
    background-color: #fcebeb;
    transform: rotateZ(180deg);
}




/* ********* Quelques éléments pour la responsivité ********* */
@media (max-width: 1199px) {
	.bloc-blanc2{
		margin-top:15px;
		margin-bottom:70px;
	}
	
	.bloc-login{
		margin-bottom:70px;
	}

	.bloc-index{
		margin-bottom:70px;
	}
	
	.spe2{
		margin-bottom:25px;
	}
	
	#card1{
		margin-bottom:25px;
	}
	
	#card2{
		margin-bottom:25px;
	}

}

@media (max-width: 630px) {
	.divCourriels{
		width:300px;
	}
}


@media (max-width: 530px) {
	.divCourriels{
		width:250px;
	}
}


@media (max-width: 1700px) {
	.bloc-formulaire{
		margin-bottom:70px;
	}
	
}