th, tr{
  text-align:center;
}

tbody tr:hover{
  background-color: #FAFCFF;
  box-shadow: -3px 3px 6px 3px rgba(1,13,40,.2); 
  transition-duration: 50ms;
}

.color-icon{
   /*color:rgb(52,58,64);*/
   color:rgb(98,99,101);
}

.color-icon-hover{
  color:rgb(247,247,249);
}

h4{
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
  color:rgb(247,247,249);
}

.card:hover .card-header{
  /*background-color: rgba(1,13,40,.8);*/
  background:linear-gradient(to top right,rgba(1,13,40,.8), rgba(1,13,40,.7));
  color: white;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
  transition-duration: 300ms;
}

.card:hover{
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
  transition-duration: 300ms;
}

#ctrucker{
  font-weight:500;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
  letter-spacing: 2px;
  border: 1px solid rgba(1,13,40,.1);
  border-top-left-radius:100px;
  border-bottom-right-radius:100px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 150px;
  padding-left: 150px;
}

.table tbody th, .table tbody td{
  padding-top:8px;
  padding-bottom:8px;
}

tbody{
  font-size:.875rem;
}

.card-header{
  height:55px;
  /*background-color:rgb(50,50,50);*/
  background:linear-gradient(to top right,rgb(50,50,50), rgb(70,70,70));
}